
.rating {
  padding: 30px 50px 30px;
  display: flex;
  flex-direction: row-reverse;
  margin: 0px auto;
  border-radius: 5px;

}

.gold {
    height: 40px;
    width: 185px;
    margin-bottom: 4px;
    cursor: pointer;
    padding: 0px;
}
.star::before {
  font-size: 25px;
  font-family: FontAwesome;
  content: "\f005";
  padding: 0 7px;
  text-shadow: 0px 0px 2px grey;
  cursor: pointer;
  transition: 0.3s;
}

.gold .star:hover {
  color: gold; 
  position: relative;
}
.gold .star:hover ~ .star {
    color: gold;
}

.gold .selected ~ .star,
.gold .selected {
  color: gold;
}

.star:after {
  position: absolute;
  padding: 7px 15px;
  left: -10%;
  top: 100%;
  opacity: 0.8;
  font-family: sans-serif;
  font-size: 15px;
  color: white;
  white-space: nowrap;
  content: attr(t);
  background: grey;
  line-height: 10px;
}

.display{
  text-align: center;
  color: gold;
  text-shadow: 0px 0px 1px grey;
  padding: 0 7px;
  font-size: 40px;
}
.note{
  text-align: center;
  padding: 0 7px;
  font-size: 40px;
}